<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essay Evaluation</title>
</head>
<body>
    <h1>Essay Evaluation</h1>
    <textarea id="essayText" rows="10" cols="50">Enter your essay here</textarea><br><br>
    <button onclick="evaluateEssay()">Evaluate</button><br><br>
    <h2>Result:</h2>
    <p id="result"></p>

    <script>
        function evaluateEssay() {
            var essayText = document.getElementById("essayText").value;
            fetch("/evaluate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ essay: essayText })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = data.result;
            })
            .catch(error => {
                document.getElementById("result").innerText = "Error: " + error;
            });
        }
    </script>
</body>
</html>
